<div id="sidebar-wrapper" style="height: 100%;border-right: 1px solid #ddd;">
    <ul class="sidebar-nav" >
        {#<li class="sidebar-brand">#}
            {#<a href=""  style="color:#999999;font-family: inherit;">#}

            {#</a>#}
        {#</li>#}
        <br/>
        <br/>
        <br/>
        <li>
               <a href="#getStarted">GETTING STARTED</a>
        </li>
        <li>
            <a href="#configServer">Config the server</a>
        </li>
        <li>
            <a href="#app-config">App Configuration</a>
        </li>
        <li>
            <a href="#httpReq-Resp">HTTP Request & HTTP Response</a>
        </li>
        <li>
            <a href="#doctrine">Doctrine & Entity Manager</a>
        </li>
        <li>
            <a href="#flash">Flash Middlewares</a>
        </li>
        <li>
            <a href="#swiftmailer">Swiftmailer</a>
        </li>
        <li>
            <a href="#Sending-file">Sending Files & CSRF Security</a>
        </li>
    </ul>
</div>